body {
    color: #cccccc !important;
}

.BlurredBackground {
    display: none !important;
}

.NowPlaying__content {
    transition: none !important;
    background-color: #333333;
}

.region-bottomBar,
.Tuner__Audio__NowPlayingHitArea,
.region-topBar,
.region-topBar--browseOrDesktopAppEnabled,
.MiniBar,
.MiniBar--browseOrDestopEnabled,
.MiniBar--show,
.body,
.region-main,
.MiniBar__content,
.Container,
.BackstageLayout__body,
.OverlayWrapper__OverlayContainer__OverlayBody,
.AppBg,
.region-blueBar,
.Nav--darkTheme.Nav--scrolled,
.UserRegion,
.UserSettings,
.region-main__content,
.SearchResultsList:before,
.SearchResultsList,
.EmptySearch__content:before,
.EmptySearch__content {
    background-color: #3c3c3c !important;
}

.UserRegion,
.UserSettings,
.SideNav__list__link,
.SideNav__list__link__subLink {
    color: white !important;
}

.SideNav__list__link:visited,
.SideNav__list__link__subLink:visited,
.SideNav__list__link:visited,
.SideNav__list__link__subLink:visited,
.RowItemCenterColumn__mainText,
.RowItemCenterColumn__secondText,
.RowItemRightColumnChild {
    color: rgba(255, 255, 255, .6) !important;
}

.SourceListItem__content {
    opacity: 0.3 !important;
}

.SourceCard__menu {
    background: #3c3c3c !important;
    color: white !important;
}


.NavHorizontal__item__lin,
.MiniBar__content,
.DescriptionBackstage,
.ContentSection__title {
    color: rgba(255, 255, 255, 0.6) !important;
}

.BackstageFullDescription__backToArtist,
.DescriptionBackstage a {
    color: rgba(255, 255, 255, 0.9) !important;
}

.Nav--darkToLightTheme.Nav--scrolled,
.Nav--lightTheme.Nav--scrolled {
    background-color: #333333 !important;
}

.MiniBar,
.MiniBar--show,
.MiniBar--browseOrDestopEnabled {
    background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(0deg, #3c3c3c, #3c3c3c) !important;
}

.region-blueBar {
    display: none;
}

.NowPlaying__content {
    margin-top: -32px
}


/*styles for lyrics page*/
.region-main__content,
.region-main__content,
.HeaderBackstage__text__title,
.HeaderBackstage__text__title--link,
.HeaderBackstage__text__subTitle,
.HeaderBackstage__text__subTitle--lrg,
.HeaderBackstage__text__subTitle,
.HeaderBackstage__text__subTitle--lrg,
.HeaderBackstage__text__subTitle,
.HeaderBackstage__text__subTitle--sm,
.HeaderBackstage__text__subTitle,
.HeaderBackstage__text__subTitle--sm,
.HeaderBackstage__text__subTitle__link,
.NavHorizontal__item__link,
.NavHorizontal__item__link,
.Lyrics__lyrics__wrapper>p,
.Lyrics__footer,
.Lyrics__footer__credits,
.Footer__navLink,
.Footer__copyright,
.NavSecondary__logo,
.NavSecondary__logo--lightIcon,
.NavSecondary__logo--darkIcon {
    color: #ccc !important;
}

svg,
path {
    fill: white !important;
}

svg:hover {
    fill: #3c3c3c !important;
}

.DisplayThumb--inactive.DisplayThumb--Light .DisplayThumb__flexWrap__Icon,
.DisplayThumb--inactive.DisplayThumb--Switch .DisplayThumb__flexWrap__Icon,
.DisplayThumb__flexWrap__count {
    opacity: .8 !important;
    color: white !important;
}

textarea {
    color: white !important;
    opacity: 0.8 !important;
}

*::placeholder {
    color: white !important;
    opacity: 0.7 !important;
}

.GridItem__caption__link,
.GridItem__caption__text {
    color: white !important;
}

.GridItem__caption__text {
    opacity: 0.6 !important;
}

.Container__splash {
    background: none !important;
    background-color: #3c3c3c !important;
    background: linear-gradient(45deg, rgb(100, 100, 100) 0%, rgb(186, 187, 192) 75%) !important;
}

/* /html/body/div[3]/div/main/div/div/div[2] */
.AddedHeader,
.AddedHeader--scrolled,
.AddedHeader--navHidden {
    background: transparent !important;
}

.MyMusicEmptyState__header,
.MyMusicSortDropdown__sortType{
    color: #ccc !important;
}